* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* ===== NAVBAR ===== */
nav {
  background: #2563eb;
  height: 70px;
  width: 100%;
}

.logo {
  color: white;
  font-size: 26px;
  line-height: 70px;
  padding: 0 25px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background: #1e40af;
}

.check-btn {
  font-size: 26px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.logo-link {
    all: unset;   /* كتمحي جميع ستايلات المتصفح الافتراضية */
    cursor: pointer; /* باش يظهر كيد للضغط */
}

/* ===== QUIZ ===== */
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

.question {
  font-size: 20px;
  margin-bottom: 15px;
}

.answers label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

button {
  margin-top: 25px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background: #1e40af;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .check-btn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1e3a8a;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: 0.4s;
  }

  nav ul li {
    display: block;
    margin: 30px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .container {
    width: 90%;
    margin-top: 30px;
  }
}



